<section class="header text-center">
  <div class="container">
    <h2 class="text-capitalize">products</h2>
    <div class="header-wrapper row">
      
      <div class="content">
        <img src="../../../assets/images/Thumbnail.svg" class="img-fluid" alt="product-image">
        <h6>product</h6>
      </div>
      <div class="content">
        <img src="../../../assets/images/Thumbnail.svg" class="img-fluid" alt="product-image">
        <h6>product</h6>
      </div>
      <div class="content">
        <img src="../../../assets/images/Thumbnail.svg" class="img-fluid" alt="product-image">
        <h6>product</h6>
      </div>
     
        <div class="content">
          <img src="../../../assets/images/Thumbnail.svg" class="img-fluid" alt="product-image">
          <h6>product</h6>
        </div>
        <div class="content">
          <img src="../../../assets/images/Thumbnail.svg" class="img-fluid" alt="product-image">
          <h6>product</h6>
        </div>
     
    </div>

  </div>
</section>
