<section class="about">
    <div class="container">
        <div class="first-wrapper">
            <h3 class="main-color font-weight-bold">What make us the best broker !</h3>
            <p class="main2-color">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
            </p>
        </div>
        <div class="second-wrapper">
            <h4 class="main-color font-weight-bold">What make us the best broker !</h4>
            <p class="main3-color">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
            </p>
        </div>
        <h5 class="main-color font-weight-bold">
            <i class="fas fa-check-circle"></i>
            What make us the best broker</h5>
        <h5 class="main-color font-weight-bold">
            <i class="fas fa-check-circle"></i>
            What make us the best broker</h5>
        <h5 class="main-color font-weight-bold">
            <i class="fas fa-check-circle"></i>
            What make us the best broker</h5>
    </div>
</section>
